.canvas {
  margin: 0 auto;
  width: 320px;
  font-family: monospace;
  text-align: center;
}

.canvas__explantion {
}

.canvas__title {
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 2px;
}

.canvas__rules {
  padding: 16px;
  background-color: whitesmoke;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 1px;
}

.canvas__input {
  display: block;
  margin: 20px auto;
  border: 0px;
  border-bottom: 4px solid black;
  padding: 4px 0px;
  width: 200px;
  background: transparent;
  line-height: 60px;
  text-align: center;
  letter-spacing: 10px;
  font-size: 60px;
}

.canvas__input:focus {
  outline: none;
}

.canvas__input:disabled {
  border-color: whitesmoke;
}

.canvas__results {}

.restart-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  padding: 0 10px;
  background-color: black;
  font-family: monospace;
  font-size: 12px;
  line-height: 30px;
  color: white;
}

.canvas__notification {
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  color: red;
}

.canvas__results {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}
